@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


/* 1. VARIABLES DE DISEÑO */
:root {
  --primary-color: #3cb0b2;
  --secondary-color: #7e7e7e;
  --light-color: #f8f9fa;
  --dark-color: #343a40;
  --font-family-base: 'Outfit', sans-serif;
}

/* 2. ESTILOS GENERALES */
body {
  font-family: var(--font-family-base);
  color: #212529;
  background-color: #efeded;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* 3. NAVBAR */
.navbar {
  background-color: black;
  transition: background-color 0.3s, box-shadow 0.3s;
  padding: 15px 0;
  font-size: 1rem;
}

.navbar.scrolled {
  background-color: #fff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}

.navbar-brand {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-size: 1.7rem;
  color: orangered;
}

.nav-link {
  color: white;
  font-weight: 500;
  margin-left: 20px;
  transition: color 0.3s;
}

.nav-link:hover {
  color: var(--primary-color);
}

/* 4. HERO */
.row.p-5 {
  min-height: 90vh;
  display: flex;
  align-items: center;
  padding-top: 100px;
}

h1, h2, h3, h4, h5 {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  line-height: 1.2;
}

h1 {
  font-family: "Outfit", sans-serif;
  font-size: 3rem;
  margin-bottom: 20px;
  color: var(--dark-color);
  font-family: 'Outfit', sans-serif;
}


p {
  font-family: "Outfit", sans-serif;
  font-size: 1rem;
  color: #6c757d;
}

/* Botones */
.btn {
  font-family: "Outfit", sans-serif;
  border-radius: 50px;
  padding: 10px 30px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  font-size: 1.1rem;
}

.btn-dark {
  background-color: var(--primary-color);
  border: none;
}

.btn-dark:hover {
  background-color: #288b8d;
}

.btn-outline-dark {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.btn-outline-dark:hover {
  background-color: var(--primary-color);
  color: #fff;
}

/* 5. SECCIONES */
section {
  padding: 100px 0;
}

section h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  position: relative;
}


/* 6. CARDS */
.card {
  border: none;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--dark-color);
}

.masonry__container {
  column-count: 4;
  column-gap: 1rem;
}

.masonry__item {
  width: 100%;
  display: block;
  margin-bottom: 1rem;
  border-radius: 8px;
}

.card-text {
  color: #6c757d;
}

/* 7. TESTIMONIOS */
.blockquote {
  background-color: var(--light-color);
  border-left: 4px solid var(--primary-color);
  padding: 20px;
  border-radius: 5px;
}

/* 8. FORMULARIO */
form .form-control {
  border-radius: 8px;
  border: 1px solid #ced4da;
}

form button.btn-primary {
  background-color: var(--primary-color);
  border: none;
  width: 100%;
  border-radius: 50px;
  margin-top: 20px;
}

/* 9. FOOTER */
footer {
  background-color: var(--dark-color);
  color: #ffffff;
  font-size: 0.9rem;
}

/* 10. IMÁGENES */
img.rounded-circle {
  border: 5px solid var(--light-color);
}

/* 11. GALERÍA */
.container .row img {
  transition: transform 0.3s, box-shadow 0.3s;
}

/* TITULOS */
.h1-custom {
  font-family: "Outfit", sans-serif;
  font-size: 8rem;
  font-weight: 900;
  line-height: 1.2;
  color: black  ;
  font-weight: bolder;
}

.h2-custom {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.3;
  color: var(--black);
  font-family: 'Outfit', sans-serif; 
  font-weight: bold;
  padding: 0px 0px 0px 0px;
}

.h3-custom {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.4;
  color: var(--dark-color);
  font-family: 'Outfit', sans-serif; 
  font-weight: bold;
}

.h4-custom {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--dark-color);
}

.h5-custom {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.4;
  color: rgb(131, 131, 131);
  font-family: 'Outfit', sans-serif; 
}


/* PÁRRAFOS Y TEXTOS */
.p-custom {
  font-size: 1rem;
  color: var(--secondary-color);
  line-height: 1.3;
  padding: 0px 0px 0px 0px;
}

.lead-custom {
  font-size: 1.1rem;
  font-family: 'Outfit', sans-serif; 
  font-weight: 400;
  color: var(--secondary-color);
  line-height: 1.3;
}

/* FONDOS E IMÁGENES */
.bg-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-overlay-light {
  background-color: rgba(255,255,255,0.7);
  backdrop-filter: blur(5px);
}

.bg-overlay-dark {
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(5px);
  color: #fff;
}

.img-rounded {
  border-radius: 8px;
  overflow: hidden;
}

/* TEXTOS ADICIONALES */
.text-uppercase-custom {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.text-bold {
  font-weight: 700;
}

.text-muted-custom {
  color: #6c757d;
}

/* ESPACIADOS */
.section-spacing {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;
}


.section-spacing2 {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.section-spacing-sm {
  padding-top: 50px;
  padding-bottom: 50px;
}



@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
  .navbar-brand {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 992px) {
  .masonry__container {
    column-count: 3;
  }
}

@media screen and (max-width: 768px) {
  .masonry__container {
    column-count: 2;
  }
}

@media screen and (max-width: 576px) {
  .masonry__container {
    column-count: 1;
  }
}






/* GIF */
.gif-hover .gif-container {
  position: relative;
  display: inline-block;
}

.gif-hover .gif-container .static,
.gif-hover .gif-container .active {
  display: block;
}

.gif-hover .gif-container .active {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  pointer-events: none; /* para que no interfiera el hover */
}

.gif-hover .gif-container:hover .active {
  opacity: 1;
}






/* POR QUE ELEGIRNOS */
.mancha1 {
  background-image: url("imagenes/mancha1.png");
  background-repeat: no-repeat;
  background-size: contain; 
  background-position: center bottom;
  min-height: 513px;
  padding-left: 0px;
  background-position: left;
}


.why-section {
      display: flex;
      align-items: center;
      padding: 150px;
      gap: 60px;
      background-color: #efeded;
      font-family: Poppins, sans-serif;
      font-weight: bolder;
    }
    .why-image {
      flex: 1;
    }
    .why-image img {
      width: 100%;
      height: auto;
      border-radius: 16px;
      object-fit: cover;
    }
    .why-content {
      flex: 1;
    }
    .why-content h2 {
      font-size: 2rem;
      margin-bottom: 20px;
      color: #111;
    }
    .why-list {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    .why-list li {
      display: flex;
      align-items: flex-start;
      margin-bottom: 16px;
    }
    .why-list li .icon {
      width: 24px;
      height: 24px;
      margin-right: 12px;
      flex-shrink: 0;
      margin-top: 4px;
    }
    .why-list li .text h3 {
      margin: 0;
      font-size: 1.1rem;
      font-weight: bold;
      color: #222;
    }
    .why-list li .text p {
      margin: 4px 0 0;
      font-size: 1rem;
      line-height: 1.4;
      color: #838282;
      font-weight: lighter;
    }
    @media (max-width: 768px) {
      .why-section {
        flex-direction: column;
        padding: 20px;
      }
      .why-image, .why-content {
        width: 100%;
      }
      .why-content h2 {
        text-align: center;
      }
    }



/*SOBRE NOSOTROS */
.sobre-nosotros {
  background-image: url("imagenes/onda1.png");
  background-repeat: no-repeat;
  background-size: contain; 
  background-position: center bottom;
  min-height: 513px;
  padding-left: 110px;
}


/* PLANES DE SUSCRIPCION */
.planes {
  padding-top: 60px;
  padding-left: 250px;
  padding-right: 250px;
  padding-bottom: 0px;
  background-image: url("imagenes/img/ onda1.png") center/contain no-repeat;
  background-repeat: no-repeat;
}  

.precios {
  font-family: 'Outfit', sans-serif;
  font-size: 2rem;
  font-weight: 600;
}  


.tachado {
  text-decoration: line-through;
}






/*WINESWAP */
.fondo-wineswap {
  background-image: url("imagenes/onda2.png");
  background-repeat: no-repeat;
  background-size: contain; 
  background-position: center top;
  min-height: 513px;
}






/* BANNER */
.yv-banner {
  position: relative;
  background: url('imagenes/img\ banner.png') center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0px 0px 0px 0px;
}

.yv-banner__content {
  position: relative;
  color: #ffffff;
  max-width: 90%;
  font-family: 'Outfit', sans-serif; 
  padding-bottom: 0px;
  padding-top: 0px;
}

.yv-banner__subtitle {
  font-size: 1rem;
  margin: 0.5rem 0 0;
  font-family: 'Outfit', sans-serif; 
  padding-top: 0px;
}


.linea {
  width: 60px;
  height: 4px;
  background-color: #de4928;
  margin: 20px auto;  
  border-radius: 2px;
}

/* Versión responsive */
@media (min-width: 768px) {
  .yv-banner {
    height: 500px;
  }
  .yv-banner__title {
    font-size: 2.5rem;
  }
  .yv-banner__subtitle {
    font-size: 1.2rem;
  }
}







/* BODEGAS ASOCIADAS */
 .brands-section {
      padding: 0px 0px 0px 0px;
      text-align: center;
    }
    .brands-section .brands-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 100px;
      max-width: 1200px;
      margin: 0 auto;
    }
    .brands-section .brand {
      flex: 1 1 150px;
      max-width: 200px;
      opacity: 0.8;
      transition: opacity 0.3s ease;
    }
    .brands-section .brand img {
      width: 100%;
      height: auto;
      display: block;
    }
    .brands-section .brand:hover {
      opacity: 1;
    }

    @media (max-width: 768px) {
      .brands-section {
        padding: 20px 10px;
      }
      .brands-section .brands-container {
        gap: 0px;
      }
      .brands-section .brand {
        flex: 1 1 120px;
        max-width: 150px;
      }
    }




/* WINESWAP */

.wineswap {
  background-color: #efeded;
  padding: 180px 0px 50px 0px;
  text-align: center;
  font-family: 'Outfit', sans-serif; 
}

.wineswap h2 {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 10px;
}

.wineswap p {
  font-size: 1.2rem;
  font-family: 'Outfit', sans-serif; 
  font-weight: 400;
  color: var(--secondary-color);
  line-height: 1.3;
}

.wineswap-graphic {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.wineswap-graphic img {
  max-width: 100px;
  height: auto;
}







/* VIDEO */

 .seccion-video {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 200px 0px 150px 0px;
    flex-wrap: wrap;
  }

  .seccion-video video {
    width: 100%;
    max-width: 700px;
    padding-top: 100px;
    border-radius: 12px;
    cursor: pointer;
  }

  .seccion-video .contenido {
    max-width: 6600px;
  }

  .seccion-video .contenido h2 {
    margin-top: 0;
  }

  .seccion-video .contenido button {
    display: block;
    margin-top: 15px;
    padding: 12px 24px;
    font-size: 16px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }

  @media (max-width: 768px) {
    .seccion-video {
      flex-direction: column;
      text-align: center;
    }

    .seccion-video video {
      max-width: 100%;
    }

    .seccion-video .contenido button {
      margin: 15px auto 0 auto;
    }
  }







/* COMUNIDAD */

.testimonios-section {
  text-align: center;
  color: white;
  padding: 150px 20px;

  /* Fondo con imagen */
  background: url('imagenes/bosque-32.png') center/cover no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.fondo-azul {
  padding: 0px 150px 0px 150px;
}

.testimonios-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.tarjeta {
  background-color: rgb(254, 192, 158);
  color: #333;
  padding: 40px;
  border-radius: 10px;
  width:300px;
  height: 50;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
}

.tarjeta-principal {
  background-color: white;
  color: #333;
  padding: 40px;
  border-radius: 10px;
  width: 400px;
  height: 200;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
}

.estrellas img {
  width: 0px;
  margin: 0px;
}






.contacto {
  display: flex;
  align-items: center;
  justify-content: space-between;  
  padding: 90px 0;
  font-family: sans-serif;
}

.formulario {
  flex: 1;
  max-width: 650px;
   margin: 0 auto 0 180px;
}

.formulario h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-weight: 800;
  margin-left: 25px;
}

.formulario form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 20px;
}

.formulario input,
.formulario textarea {
  padding: 15px;
  border: 1px solid #999;
  border-radius: 12px;
  font-size: 1rem;
  resize: none;
}

.formulario button {
  padding: 12px;
  border: none;
  background-color: #18888a;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  width: 120px;
  align-self: flex-end;
}

.imagen-zorro {
  flex: 1;
  background-image: url('imagenes/zorro\ costado.png'); 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  height: 500px;
}



.preguntas {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

/* --- FAQ Section --- */
.faq-section {
  padding: 60px 20px;
  text-align: center;
}

.faq-section h2 {
  font-size: 28px;
  margin-bottom: 40px;
}

.faq-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 1000px;
  margin: auto;
}

.faq-item {
  background-color: #f8f8f8;
  border-radius: 8px;
  padding: 15px 20px;
  text-align: left;
  flex: 1 1 45%;
  position: relative;
  cursor: pointer;
}

.faq-item:hover {
  background-color: #eaeaea;
}

.faq-item::after {
  content: "▾";
  position: absolute;
  right: 20px;
  font-size: 18px;
  transition: transform 0.3s;
}





/* --- Footer Section --- */
.faq-footer {
  background-color: #0a0e0d; /* negro real */
  background-image: url("imagenes/footer.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  text-align: center;
  padding: 60px 20px 60px; /* más espacio arriba para mostrar el trazo */
  color: #ffffff;
}

.faq-footer h3 {
  color: #de4928;
  margin: 0;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
}

.faq-footer p {
  margin: 0px 0 15px;
  font-size: 14px;
  color: #ffffff;
}

.social-icons a {
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .faq-item {
    flex: 1 1 100%;
  }
}












/* Hero Pagina Detalle */
.fox-box-section {
  padding: 3rem 1rem;
  background-color: #f8f9fa;
}

.fox-box-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  gap: 2rem;
  flex-wrap: wrap;
}

/* TEXTO */
.fox-box-text {
  flex: 1;
  min-width: 280px;
}

.fox-box-text h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #000;
}

.fox-box-text h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color:#343a40;
}

.fox-box-text ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 1.5rem;
}

.fox-box-text ul li::before {
  content: "• ";
  color: #000000;
  font-weight: bold;
}

.fox-box-text ul li {
  margin-bottom: 0.5rem;
}

.fox-box-text ul li a {
  color: #288b8d;
  text-decoration: none;
}

.fox-box-text .precio {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.btn-suscribirse {
  background-color: #288b8d;
  color: white;
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

/* IMAGEN */
.fox-box-image {
  flex: 1;
  text-align: center;
  min-width: 280px;
}

.fox-box-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .fox-box-container {
    flex-direction: column;
    text-align: center;
  }

  .fox-box-text h1 {
    font-size: 2.5rem;
  }

  .fox-box-text .precio {
    font-size: 1.3rem;
  }
}